*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    border-radius: 50%;
    border: 5px solid #38acc0;
    padding: 5px;
    background: white;
}
.info{
    background-color: #1f1f1f;
    color:#dadada;
    width:800px;
    height:100px;
    text-align:center;
    padding:20px;
    border-radius: 10px;
    line-height: 0.2;
    letter-spacing:2px;
}
.name{
    font-size:50px;
    font-weight: 500;
}
h3{
    font-size: 40px;
    color:white;
    font-weight: 400;
}
hr{
    border-top: 1px solid #1f1f1f ;
}
p{
    font-weight: 200;
    font-size: 25px;
}
h4{
    color:white;
    font-size: 30px;
    font-weight: 400
}
.flex-container{
    width:auto;
    height:auto;
    justify-content: center;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-item-2{
    align:right;
}
.flex-item-2{
    background-color: #38acc0;
    text-align:center;
    padding:20px;
    border-radius: 10px;
    margin: 20px;
    letter-spacing:2px;
}
.flex-item-3{
    background-color: #38acc0;
    text-align:center;
    padding:20px;
    border-radius: 10px;
    margin: 20px;
    letter-spacing:2px;
}
.flex-item-4{
    background-color: #38acc0;text-align:center;
    padding:20px;
    border-radius: 10px;
    margin: 20px;
    letter-spacing:2px;
}
.flex-item-5{
    background-color: #38acc0;
    text-align:center;
    padding:20px;
    border-radius: 10px;
    margin: 20px;
    letter-spacing:2px;
}
.flex-item-6{
    background-color: #38acc0;
    text-align:center;
    padding:20px;
    border-radius: 10px;
    margin: 20px;
    letter-spacing:2px;
}
.flex-item-7{
    background-color: #38acc0;
    text-align:center;
    padding:20px;
    border-radius: 10px;
    letter-spacing:2px;
    margin: 20px;
}
ul{
    font-weight: 200;
    font-size: 25px;
    text-align: left;
    line-height:3;
}